//https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/listbox/listbox.html

.dropdown {
    width: 100%;
    box-shadow: $meso;
    background-color: $air;
    border-radius: 6px;
    padding: 6px 0;
    max-height: 240px;
    overflow-y: scroll;
    .group {
        padding-left: 0;
        margin-bottom: 0;
    }
    .title {
        @extend %label-small;
        color: $pigeon;
        padding: 3px 12px;
        position: sticky;
        top:-6px;
        z-index: 1;
        background-color: rgba($air, .72);
        backdrop-filter: blur(24px);
        @supports not (backdrop-filter: blur(24px)) {
            background-color: rgba($air, .96);
        }
    }
    .option {
        position: relative;
        display: flex;
        padding: 6px 12px;
        align-items: center;
        transition: background-color $time-tiny ease-in-out;
        cursor: pointer;
        &::before {
            content: none;
        }
        > :not(:first-child) {
            margin-left: 12px;
        }
        &:hover {
            background-color: $snow;
        }
        &:active,
        &[aria-selected="true"] {
            background-color: $smoke;
        }
        &[aria-selected="true"] {
            background-color: $smoke;
        }
    }
    .label {
        @extend %label-medium;
        color: $denim;
        small {
            @extend %text-small;
            color: $pigeon;
            margin-left: 6px;
        }
    }
}

.dropdown[aria-multiselectable="true"] {
    .option::before {
        content:"";
        position: relative;
        display: block;
        margin-left: 0;
        width: 18px;
        height: 18px;
        background: $air;
        margin-right: 12px;
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px $dolphin;
        transition: box-shadow $time-tiny ease-in-out;
    }
    .option:hover::before {
        box-shadow: inset 0 0 0 1px $sapphire;
    }
    .option:active::before  {
        box-shadow: inset 0 0 0 2px $cobalt;
    }
    [aria-selected="true"].option::before {
        box-shadow: inset 0 0 0 9px $sapphire;
    }
    [aria-selected="true"].option:hover::before {
        box-shadow: inset 0 0 0 9px $royal;
    }
    [aria-selected="true"].option:active::before {
        box-shadow: inset 0 0 0 9px $cobalt;
    }
    .option::after {
        content: url($icon-checkbox);
        position: absolute;
        left: 12px;
        width: 18px;
        height: 18px;
        opacity: 0;
        transition: opacity $time-tiny ease-in-out;
    }
    [aria-selected="true"].option::after {
        opacity: 1;
    }
}